.pokemon-list-container
    display: grid
    grid-template-columns: 200px 200px 200px 200px
    grid-template-rows: auto
    justify-items: stretch
    justify-content: center
    
.choose_pokemon_container
    @include flex-row
    width: 800px

.filter_pokemon_div
    @include flex-col
    margin: 0px 50px 0px 50px

.choose_pokemon_div
    @include flex-col
    margin: 0px 50px 0px 50px
    

.pokemon
    border: 2px white solid

.pokemon_type_list
    display: flex
    flex-direction: row
    align-content: center
    justify-content: center
    
.pokemon_type_list_item
    margin-left: 10px
    margin-right: 10px
    padding: 0 5px 0 5px
    border-radius: 70px
    text-align: center
    
	

.normal
    border: 2px solid #A8A77A
    color: #A8A77A

.fire
    border: 2px solid #EE8130
    color: #EE8130

.water
    border: 2px solid #6390F0
    color: #6390F0

.electric
    border: 2px solid #F7D02C
    color: #F7D02C

.grass
    border: 2px solid #7AC74C
    color: #7AC74C

.ice
    border: 2px solid #96D9D6
    color: #96D9D6

.fighting
    border: 2px solid #C22E28
    color: #C22E28

.poison
    border: 2px solid #A33EA1
    color: #A33EA1

.ground
    border: 2px solid #E2BF65
    color: #E2BF65

.flying
    border: 2px solid #A98FF3
    color: #A98FF3

.psychic
    border: 2px solid #F95587
    color: #F95587

.bug
    border: 2px solid #A6B91A
    color: #A6B91A

.rock
    border: 2px solid #B6A136
    color: #B6A136

.ghost
    border: 2px solid #735797
    color: #735797

.dragon
    border: 2px solid #6F35FC
    color: #6F35FC

.dark
    border: 2px solid #705746
    color: #705746

.steel
    border: 2px solid #B7B7CE
    color: #B7B7CE

.fairy
    border: 2px solid #D685AD
    color: #D685AD

