@import 'https://fonts.googleapis.com/css2?family=VT323';
body {
  background-color: #231E1E;
  color: white;
  font-family: "Roboto";
  margin: 0;
  position: relative;
  min-height: 95vh;
  padding-bottom: 2.5rem;
}

a {
  color: #1ecbe1;
}

.center-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.col-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tasks_title_div {
  margin-top: 20px;
  width: 600px;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-position: center;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../title_images/tasks.jpg") no-repeat center/100%;
}
.tasks_title_div h1 {
  margin: 10px 0 10px 0;
  font-size: 3rem;
}

.store_title_div {
  margin-top: 20px;
  width: 600px;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-position: center;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../title_images/store.jpg") no-repeat center/100%;
}
.store_title_div h1 {
  margin: 10px 0 10px 0;
  font-size: 3rem;
}

.pokemon_title_div {
  margin-top: 20px;
  width: 600px;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-position: center;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../title_images/pokemon.jpg") no-repeat center/100%;
}
.pokemon_title_div h1 {
  margin: 10px 0 10px 0;
  font-size: 3rem;
}

.shelter_title_div {
  margin-top: 20px;
  width: 600px;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-position: center;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../title_images/shelter.jpg") no-repeat center/100%;
}
.shelter_title_div h1 {
  margin: 10px 0 10px 0;
  font-size: 3rem;
}

/* <nav> */    
.navbar {
  display: flex;
  justify-content: flex-end;
  height: 100px;
  padding: 0 1rem;
  border-bottom: 1px solid white;
}

.hidden-nav {
  display: flex;
  justify-self: center;
  align-self: center;
  justify-content: flex-end;
  max-width: 100%;
  height: 100%;
  list-style: none;
  visibility: hidden;
}

/* <ul> */  
.navbar-nav {
  display: flex;
  justify-self: center;
  align-self: center;
  justify-content: flex-end;
  max-width: 100%;
  height: 100%;
  list-style: none;
}

.nav-title {
  justify-self: center;
  align-self: center;
  text-align: center;
  margin: auto;
  font-family: "VT323";
  font-size: 4rem;
}

.nav-item {
  width: calc(100px * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Icon Button */
.icon-button {
  width: calc(100px * 0.5);
  height: calc(100px * 0.5);
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

.icon-button:hover {
  filter: brightness(0.6);
}

.icon-button svg {
  width: 35px;
  height: 35px;
}

.dropdown {
  background: black;
  border: 1px solid #474a4d;
  border-radius: 8px;
  position: absolute;
  top: calc(100px + 20px);
  width: 300px;
  padding: 1rem;
  overflow: hidden;
  transition: height 500ms ease;
  z-index: 10;
}

.menu {
  width: 100%;
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  transition: background 500ms;
  padding: 1rem;
  border: 1px white solid;
}

.menu-item:hover {
  background-color: #525357;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
}
.footer div {
  width: auto;
  margin-left: 30px;
  margin-right: 30px;
}

.battle_div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.battle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.step_grid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.step_box {
  width: 100px;
  height: 20px;
  border: 1px solid white;
}

.current_step_box {
  background-color: white;
}

.problem {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  text-align: center;
}

.battle_image {
  height: 300px;
  width: auto;
  visibility: hidden;
}

.battle_div {
  position: relative;
}

#hp_bar {
  height: 30px;
  width: 30rem;
}

.user_space {
  margin-top: 20px;
  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: start;
  margin-bottom: 20px;
}

.user_pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user_pokemon_image {
  width: 10rem;
  height: auto;
}

.move_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 100px;
}

.pokemon_move_list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  border: 1px solid white;
  overflow-y: auto;
  height: 150px;
}

.pokemon_move_list_item_div:hover {
  cursor: pointer;
  filter: brightness(2);
}

.pokemon_move_list_item {
  white-space: nowrap;
  margin-left: 30px;
  margin-right: 30px;
  padding: 0 5px 0 5px;
  border-radius: 70px;
  text-align: center;
}

#party_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: none;
}

#user_party {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  overflow-y: auto;
  height: 250px;
  border: 1px solid white;
}

.user_party_item {
  margin: 15px 15px 0 15px;
  text-align: center;
}

.user_party_item:hover {
  cursor: pointer;
  filter: brightness(2);
}

.effect_div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  opacity: 0%;
  position: absolute;
  bottom: 0;
  width: 400px;
}

#battle_div {
  background-size: auto 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.effect_img {
  z-index: 4;
  width: 100px;
}

.effect_transition {
  animation: visible 2s;
}

@keyframes visible {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 1%;
  }
}
.electric_transition {
  animation: electric_shake 1s;
}

@keyframes electric_shake {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 1%;
  }
}
.normal_layer {
  background-color: #A8A77A;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.normal_transition {
  animation: electric_shake 1s;
}

.normal_step_box {
  border: 1px solid #A8A77A;
  background-color: #A8A77A;
}

.fire_layer {
  background-color: #EE8130;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.fire_transition {
  animation: electric_shake 1s;
}

.fire_step_box {
  border: 1px solid #EE8130;
  background-color: #EE8130;
}

.water_layer {
  background-color: #6390F0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.water_transition {
  animation: electric_shake 1s;
}

.water_step_box {
  border: 1px solid #6390F0;
  background-color: #6390F0;
}

.grass_layer {
  background-color: #7AC74C;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.grass_transition {
  animation: electric_shake 1s;
}

.grass_step_box {
  border: 1px solid #7AC74C;
  background-color: #7AC74C;
}

.electric_layer {
  background-color: #F7D02C;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.electric_transition {
  animation: electric_shake 1s;
}

.electric_step_box {
  border: 1px solid #F7D02C;
  background-color: #F7D02C;
}

.ice_layer {
  background-color: #96D9D6;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.ice_transition {
  animation: electric_shake 1s;
}

.ice_step_box {
  border: 1px solid #96D9D6;
  background-color: #96D9D6;
}

.fighting_layer {
  background-color: #C22E28;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.fighting_transition {
  animation: electric_shake 1s;
}

.fighting_step_box {
  border: 1px solid #C22E28;
  background-color: #C22E28;
}

.poison_layer {
  background-color: #A33EA1;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.poison_transition {
  animation: electric_shake 1s;
}

.poison_step_box {
  border: 1px solid #A33EA1;
  background-color: #A33EA1;
}

.ground_layer {
  background-color: #E2BF65;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.ground_transition {
  animation: electric_shake 1s;
}

.ground_step_box {
  border: 1px solid #E2BF65;
  background-color: #E2BF65;
}

.flying_layer {
  background-color: #A98FF3;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.flying_transition {
  animation: electric_shake 1s;
}

.flying_step_box {
  border: 1px solid #A98FF3;
  background-color: #A98FF3;
}

.psychic_layer {
  background-color: #F95587;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.psychic_transition {
  animation: electric_shake 1s;
}

.psychic_step_box {
  border: 1px solid #F95587;
  background-color: #F95587;
}

.bug_layer {
  background-color: #A6B91A;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.bug_transition {
  animation: electric_shake 1s;
}

.bug_step_box {
  border: 1px solid #A6B91A;
  background-color: #A6B91A;
}

.rock_layer {
  background-color: #B6A136;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.rock_transition {
  animation: electric_shake 1s;
}

.rock_step_box {
  border: 1px solid #B6A136;
  background-color: #B6A136;
}

.ghost_layer {
  background-color: #735797;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.ghost_transition {
  animation: electric_shake 1s;
}

.ghost_step_box {
  border: 1px solid #735797;
  background-color: #735797;
}

.dragon_layer {
  background-color: #6F35FC;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.dragon_transition {
  animation: electric_shake 1s;
}

.dragon_step_box {
  border: 1px solid #6F35FC;
  background-color: #6F35FC;
}

.dark_layer {
  background-color: #705746;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.dark_transition {
  animation: electric_shake 1s;
}

.dark_step_box {
  border: 1px solid #705746;
  background-color: #705746;
}

.steel_layer {
  background-color: #B7B7CE;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.steel_transition {
  animation: electric_shake 1s;
}

.steel_step_box {
  border: 1px solid #B7B7CE;
  background-color: #B7B7CE;
}

.fairy_layer {
  background-color: #D685AD;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.fairy_transition {
  animation: electric_shake 1s;
}

.fairy_step_box {
  border: 1px solid #D685AD;
  background-color: #D685AD;
}

.battle_item {
  width: 30rem;
  border: 2px white solid;
}

.battle_list {
  display: grid;
  grid-template-columns: 30rem 30rem;
  grid-template-rows: auto;
}
@media screen and (max-width: 1000px) {
  .battle_list {
    display: grid;
    grid-template-columns: 30rem;
    grid-template-rows: auto;
  }
}

.battle_item_text {
  width: 25rem;
  text-align: center;
}

.battle_item:hover {
  cursor: pointer;
}
.battle_item:hover .battle_item_text {
  text-decoration: underline;
}

.pokemon-list-container {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: auto;
  justify-items: stretch;
  justify-content: center;
}

.choose_pokemon_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 800px;
}

.filter_pokemon_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px 50px 0px 50px;
}

.choose_pokemon_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px 50px 0px 50px;
}

.pokemon {
  border: 2px white solid;
}

.pokemon_type_list {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.pokemon_type_list_item {
  margin-left: 10px;
  margin-right: 10px;
  padding: 0 5px 0 5px;
  border-radius: 70px;
  text-align: center;
}

.normal {
  border: 2px solid #A8A77A;
  color: #A8A77A;
}

.fire {
  border: 2px solid #EE8130;
  color: #EE8130;
}

.water {
  border: 2px solid #6390F0;
  color: #6390F0;
}

.electric {
  border: 2px solid #F7D02C;
  color: #F7D02C;
}

.grass {
  border: 2px solid #7AC74C;
  color: #7AC74C;
}

.ice {
  border: 2px solid #96D9D6;
  color: #96D9D6;
}

.fighting {
  border: 2px solid #C22E28;
  color: #C22E28;
}

.poison {
  border: 2px solid #A33EA1;
  color: #A33EA1;
}

.ground {
  border: 2px solid #E2BF65;
  color: #E2BF65;
}

.flying {
  border: 2px solid #A98FF3;
  color: #A98FF3;
}

.psychic {
  border: 2px solid #F95587;
  color: #F95587;
}

.bug {
  border: 2px solid #A6B91A;
  color: #A6B91A;
}

.rock {
  border: 2px solid #B6A136;
  color: #B6A136;
}

.ghost {
  border: 2px solid #735797;
  color: #735797;
}

.dragon {
  border: 2px solid #6F35FC;
  color: #6F35FC;
}

.dark {
  border: 2px solid #705746;
  color: #705746;
}

.steel {
  border: 2px solid #B7B7CE;
  color: #B7B7CE;
}

.fairy {
  border: 2px solid #D685AD;
  color: #D685AD;
}

.store_section {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: auto;
  justify-items: stretch;
  justify-content: center;
}

.store {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.store_item {
  border: 2px white solid;
}

.final_paragraph {
  width: 50rem;
  text-align: center;
}

.next_step_section {
  width: 10rem;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  border: 2px white dashed;
}

.next_step_section:hover {
  border: 2px white solid;
  cursor: pointer;
}

.next_step {
  justify-content: space-between;
}

/*# sourceMappingURL=style.css.map */
