body {
  background-color: #231E1E;
  color: white;
  font-family: "Roboto";
}

a {
  color: #1ecbe1;
}

.center-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* <nav> */    
.navbar {
  display: flex;
  height: 100px;
  padding: 0 1rem;
  border-bottom: 1px solid white;
}

/* <ul> */  
.navbar-nav {
  display: flex;
  justify-self: flex-end;
  justify-content: flex-end;
  max-width: 100%;
  height: 100%;
  list-style: none;
}

.nav-title {
  justify-self: center;
}

.nav-item {
  width: calc(100px * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Icon Button */
.icon-button {
  width: calc(100px * 0.5);
  height: calc(100px * 0.5);
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

.icon-button:hover {
  filter: brightness(0.6);
}

.icon-button svg {
  width: 35px;
  height: 35px;
}

.dropdown {
  background: black;
  border: 1px solid #474a4d;
  border-radius: 8px;
  position: absolute;
  top: calc(100px + 20px);
  width: 300px;
  padding: 1rem;
  overflow: hidden;
  transition: height 500ms ease;
}

.menu {
  width: 100%;
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  transition: background 500ms;
  padding: 1rem;
  border: 1px white solid;
}

.menu-item:hover {
  background-color: #525357;
}

.battle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.problem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  text-align: center;
}

.battle_image {
  width: 400px;
  height: auto;
}

#hp_bar {
  height: 30px;
  width: 30rem;
}

.user_space {
  margin-top: 20px;
  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: start;
}

.user_pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user_pokemon_image {
  width: 10rem;
  height: auto;
}

.move_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 100px;
}

.pokemon_move_list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  justify-content: center;
  border: 1px solid white;
  overflow-y: auto;
  height: 200px;
}

.pokemon_move_list_item_div:hover {
  cursor: pointer;
  filter: brightness(2);
}

.pokemon_move_list_item {
  white-space: nowrap;
  margin-left: 30px;
  margin-right: 30px;
  padding: 0 5px 0 5px;
  border-radius: 70px;
  text-align: center;
}

.battle_item {
  width: 30rem;
}

.battle_item:hover {
  cursor: pointer;
}

.pokemon-list-container {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: auto;
  justify-items: stretch;
  justify-content: center;
}

.pokemon {
  border: 2px white solid;
}

.pokemon_type_list {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.pokemon_type_list_item {
  margin-left: 10px;
  margin-right: 10px;
  padding: 0 5px 0 5px;
  border-radius: 70px;
  text-align: center;
}

.normal {
  border: 2px solid #A8A77A;
  color: #A8A77A;
}

.fire {
  border: 2px solid #EE8130;
  color: #EE8130;
}

.water {
  border: 2px solid #6390F0;
  color: #6390F0;
}

.electric {
  border: 2px solid #F7D02C;
  color: #F7D02C;
}

.grass {
  border: 2px solid #7AC74C;
  color: #7AC74C;
}

.ice {
  border: 2px solid #96D9D6;
  color: #96D9D6;
}

.fighting {
  border: 2px solid #C22E28;
  color: #C22E28;
}

.poison {
  border: 2px solid #A33EA1;
  color: #A33EA1;
}

.ground {
  border: 2px solid #E2BF65;
  color: #E2BF65;
}

.flying {
  border: 2px solid #A98FF3;
  color: #A98FF3;
}

.psychic {
  border: 2px solid #F95587;
  color: #F95587;
}

.bug {
  border: 2px solid #A6B91A;
  color: #A6B91A;
}

.rock {
  border: 2px solid #B6A136;
  color: #B6A136;
}

.ghost {
  border: 2px solid #735797;
  color: #735797;
}

.dragon {
  border: 2px solid #6F35FC;
  color: #6F35FC;
}

.dark {
  border: 2px solid #705746;
  color: #705746;
}

.steel {
  border: 2px solid #B7B7CE;
  color: #B7B7CE;
}

.fairy {
  border: 2px solid #D685AD;
  color: #D685AD;
}

/*# sourceMappingURL=style.css.map */
